@use 'variables' as var;

@mixin dot {
    $dimension: 5px;

    width: $dimension;
    height: $dimension;
    background-color: var.$pale_blue;
    border-radius: 50%;
}

.cards {
    @media (min-width: var.$desktop) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.card {
    border-radius: var.$border-radius;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    color: var.$white;
    margin-bottom: 1.33333em;
    height: 160px;
    display: flex;
    background-repeat: no-repeat;
    background-position: 94% -10%;

    @media (min-width: var.$desktop) {
        width: 255px;
        height: 244px;
        margin-bottom: 0;
    }

    &.work {
        background-color: var.$light_orange;
        background-image: url('../images/icon-work.svg');
    }

    &.play {
        background-color: var.$soft_blue;
        background-image: url('../images/icon-play.svg');
    }

    &.study {
        background-color: var.$light_red;
        background-image: url('../images/icon-study.svg');
    }

    &.exercise {
        background-color: var.$lime_green;
        background-image: url('../images/icon-exercise.svg');
    }

    &.social {
        background-color: var.$violet;
        background-image: url('../images/icon-social.svg');
    }

    &.selfcare {
        background-color: var.$soft_orange;
        background-image: url('../images/icon-self-care.svg');
    }

    &__body {
        border-radius: var.$border-radius;
        background-color: var.$dark_blue;
        padding: 1.55556em 1.33333em;
        margin-top: auto;
        width: 100%;

        @media (min-width: var.$desktop) {
            padding: 1.66667em;
            cursor: pointer;
        }

        &:hover {
            background-color: var.$desaturated_blue;
        }

        &__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.33333em;

            &__title {
                font-weight: 500;
            }

            &__settings {
                position: relative;
                @include dot;

                &:hover {
                    background-color: var.$white;
                    cursor: pointer;

                    &::before,
                    &::after {
                        background-color: var.$white;
                        cursor: pointer;
                    }
                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                }

                &::before {
                    @include dot;
                    right: 200%;

                    @media (min-width: var.$desktop) {
                        right: 160%;
                    }
                }

                &::after {
                    @include dot;
                    right: 400%;

                    @media (min-width: var.$desktop) {
                        right: 320%;
                    }
                }
            }
        }

        &__time {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (min-width: var.$desktop) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 1.33333em;
            }

            &__current {
                font-size: var(--fz-lrg);
                font-weight: 300;

                @media (min-width: var.$desktop) {
                    font-size: var(--fz-xxlrg);
                    margin-bottom: .14285em;
                }
            }

            &__previous {
                font-size: var(--fz-small);
                color: var.$pale_blue;
            }
        }
    }
}