@use 'variables' as var;

:root {
    font-size: 62.5%;
    --fz-small: 1.5rem;
    --fz-reg:   1.8rem;
    --fz-xreg:  2.4rem;
    --fz-lrg:   3.2rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var.$very_dark_blue;
    font-weight: 400;

}

.container {
    width: 327px;
    margin: 4.5em auto;
    font-size: var(--fz-reg);
}