@use 'variables' as var;

:root {
    font-size: 62.5%;
    --fz-small: 1.5rem;
    --fz-reg:   1.8rem;
    --fz-xreg:  2.4rem;
    --fz-lrg:   3.2rem;
    --fz-xlrg:  4.0rem;
    --fz-xxlrg: 5.6rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var.$very_dark_blue;
    font-weight: 400;

}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.container {
    width: 327px;
    margin: 4.5em auto;
    font-size: var(--fz-reg);

    @media (min-width: var.$desktop) {
        width: 1110px;
        height: 518px;
        display: flex;
        margin-top: 14.05556em;
        margin-bottom: 14.05556em;
    }
}